.contenedor-Detalle{
    display: flex;
    flex-direction: column;
    background: fixed;
    background-image: url('https://www.xtrafondos.com/descargar.php?id=5797&resolucion=2560x1440');
    background-position: center;
    width: 100%; 
    height: 110vh;
}

.contenedor-Textos-Detalle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(51, 51, 51, 0.571);
    width: 60%;
    height: 650px;
    margin-left: 300px;
    margin-top: 120px;
    border-radius: 30px;
    box-shadow: 0 9px 38px rgb(0 0 0 / 39%), 0 5px 12px rgb(0 0 0 / 22%);
    align-content: center;
}

.TextoTitulo{
    position: relative;
    color: white;
    text-shadow: 0 9px 38px rgba(0, 0, 0, 0.388), 0 5px 12px rgb(0 0 0 / 22%);
}
.Texto{
    position: relative;
    color: white;
    text-shadow: 0 9px 38px rgba(0, 0, 0, 0.388), 0 5px 12px rgb(0 0 0 / 22%);

}
.contenedor-Texto{
position: relative;
left: 100px;
}
.imgDetalle{
    position: absolute;
    top: 40%;
    left: 22%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    /* display: flex */
    align-items: center;
    justify-content: center;
    object-fit: cover;
    box-shadow: 0 9px 38px rgb(0 0 0 / 30%), 0 5px 12px rgb(0 0 0 / 22%);
}