.container-create{
    display: flex;
    flex-direction: column;
    background: fixed;
    background-image: url('https://i.pinimg.com/originals/10/7c/34/107c34017e6034427d23481ff2389fe9.jpg');
    background-position: center;
    width: 100%; 
    height: 100vh;
}

.Form-fondo{
    position: relative;
    background-color: rgba(51, 51, 51, 0.571);
    width: 1000px;
    height: 250px;
    display: flex;
    flex-direction: column;
    top: 120px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 9px 38px rgba(0, 0, 0, 0.388), 0 5px 12px rgb(0 0 0 / 22%);
}

.fondo-texto{
    color: white;
    position: relative;
    background-color: rgba(51, 51, 51, 0.571);
    width: 1000px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    left:245px;
    top: 100px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 9px 38px rgba(0, 0, 0, 0.388), 0 5px 12px rgb(0 0 0 / 22%);
}



.form-CB{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    width: 100%;
}

.div-Label{
    display: flex;
    padding:10px;
}

.input-marco{
    font-size: 20px;
    border: solid rgb(181, 103, 48) 2px;
    background-color:  rgba(179, 113, 66, 0.648) ;
    border-radius: 10px;
    margin-right: 420px;
}
.input-select{
    background-color: rgba(51, 51, 51, 0.74);
    color: white;
}

.label{
    display: flex;
    /* justify-content: start */
    color:azure;
    margin-left: 10px;
    font-size: 20px;
}

.boton-crear{
    background-color: rgb(196, 110, 48);
    border: none;
    font-size: 30px;
    margin-top: 10px;
    margin-left: -29px;
    width: 1060px;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;   
}

.texto-Titulo{
    font-size: 25px;
    color:  rgb(181, 103, 48);
    text-shadow: 0 9px 38px rgba(0, 0, 0, 0.388), 0 5px 12px rgb(0 0 0 / 22%);
}

.texto-parrafo{
    font-size: 18px ;
    text-shadow: 0 9px 38px rgba(0, 0, 0, 0.388), 0 5px 12px rgb(0 0 0 / 22%);
}

.input-marco-altura{
    font-size: 15px;
    width: 110px;
    border: solid rgb(181, 103, 48) 2px;
    background-color:  rgba(179, 113, 66, 0.648) ;
    border-radius: 5px;
    position: relative;
    /* right: 110px; */
    /* left:30px; */
    margin-left: 10px;
}

.Form-temperamentos{
    font-size: 20px;
    width: 200px;
    border: solid rgb(181, 103, 48) 2px;
    background-color:  rgba(179, 113, 66, 0.648) ;
    border-radius: 5px;
    position: relative;
    /* right: 420px; */
}

.input-marco-altura::placeholder{
    color:rgba(0, 0, 0, 0.721);
}

.input-marco::placeholder{
    color:rgba(0, 0, 0, 0.721);
}

.opciones-temperamentos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: solid  rgb(205, 133, 31) 2px;
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0.498);
    box-shadow: 0 9px 38px rgba(0, 0, 0, 0.549), 0 5px 12px rgba(0, 0, 0, 0.577);
    width: 500px;
    height:230px;
    position: absolute;
    left: 750px;
    bottom: 110px;
}

.temperamento-seleccionado{
    padding: 4px;
    margin: 5px;
    height: 40px;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    border-radius: 8px;
    background-color: rgba(205, 132, 31, 0.597);
    border: solid rgb(205, 133, 31) 2px;
    font-size: 20px;
}

.boton-temperamentos{
    background-color: transparent;
    border: none;
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bolder;
    font-size: 20px;
}